build/
*.o
*.so
lnInclude/
*.swp
*.swo
tests/**/temp/
tests/**/report/
tests/unit/**/case/constant/polyMesh/
tests/unit/**/case/log.*
tests/unit/**/case/case.foam
tests/unit/**/case/report-*.xml
tests/unit/**/case/[0-9]*/
tests/unit/**/case/constant/flameletProperties
**/__pycache__/
*.pyc
.venv/
scripts/source_local.sh
*.pdf
ascii_log
publication/
CHANGES.md
CLAUDE.md
